@font-face {
    font-family: LinuxLibertine;
    src: url(LinLibertine_R.woff);
}

body {
	font-family: 'LinuxLibertine', serif;
}

header h1 {
	font-size: 32pt;
	text-align: center;
	width: 90%;
	padding-bottom: 10px;
	border-bottom: 1px solid;
	border-color: gray;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#article-title {
	font-family: 'LinuxLibertine', serif;
	font-size: 14pt;
	text-align: center;
	color: #555555;
	display: block;
	height: 25px;
	width: 30%;
	min-width: 300px;
	padding: 5px;
	border-color: black;
	border-width: 2px;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#tabs ul {
	width: 80%;
	min-width: 724px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#tabs ul li {
	font-size: 14pt;
	text-align: center;
	color: #555555;
	display: inline-block;
	width: 150px;
	padding: 5px;
	border: 1px solid;
	border-color: #555555;
	border-bottom-color: black;
	cursor: pointer;
}

#tabs ul .inactive:hover {
	color: black;
	border-color: black;
}

#tabs ul .active {
	color: black;
	border-color: black;
	border-bottom-color: white;
}

#status {
	font-size: 12pt;
	text-align: center;
}

section {
	width: 80%;
	min-width: 747px;
	border: 1px solid;
	border-color: black;
	margin-top: -1px;
	margin-left: auto;
	margin-right: auto;
}

section div {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

section h1 {
	text-align: center;
	font-size: 20pt;
}

#calendar {
	margin: 30px;
}

footer p {
	font-size: 10pt;
	text-align: center;
	width: 90%;
	padding-top: 10px;
	border-top: 1px solid;
	border-color: gray;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 5px;
}